<!-- <p>registration works!</p>  -->

<div>
    <form formGroup="userForm" >
        <div class="container mt-2">
            <label for=""><b><i>First name :</i></b></label>
            <input type="text" style="border-radius: 8px;" class="border-success ms-3 text-center w-25 h-75" formControlName="firstname" placeholder="Enter FirstName">
          </div>
            &nbsp;
            
          <div class="container"> 
            <label for=""><b><i>Second Name</i></b></label>
              <input type="text" style="border-radius: 8px;" class="border-primary ms-3 text-center w-25 h-75" formControlName="secondname" placeholder="Enter SecondName" >
          </div>
            &nbsp;
            <div class="container">
                <label for=""><b><i>Email</i></b></label>
                  <input type="text" style="border-radius: 8px;" class="border-success ms-3 text-center w-25 h-75" formControlName="email"  placeholder="Enter Email">
              </div>
                &nbsp;
              <div class="container"> 
                <label for=""><b><i>Password :</i></b></label>
                  <input type="text" style="border-radius: 8px;" class="border-primary ms-3 text-center w-25 h-75" formControlName="password" placeholder="******" >
              </div>
                &nbsp;
                <div class="container"> 
                    <label for=""><b><i>Confirm Password :</i></b></label>
                      <input type="text" style="border-radius: 8px;" class="border-primary ms-3 text-center w-25 h-75" formControlName="confirmpassword" placeholder="******" >
                  </div>
                    &nbsp;

      <div class="container">
        <button type="submit" class="btn btn-outline-warning text-primary">SUBMIT</button>
      </div>
    </form>
  </div>
